DATABASE_URL=postgresql+psycopg://smart_dev:smart_dev_password@localhost:55435/smart_developer
ALGORITHM_SERVICE_URL=http://127.0.0.1:8001
GOOGLE_GEMINI_API_KEY=
GOOGLE_CLOUD_PROJECT_ID=project-42a5c0cc-05cb-4fd5-8e2
GOOGLE_CLOUD_PROJECT_NUMBER=719435487262
GOOGLE_GEMINI_MODEL=gemini-2.5-flash
GOOGLE_SEARCH_ENGINE_ID=
GOOGLE_MAPS_API_KEY=
